# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

releases
matriz_resources/fonts.googleapis.com/css.css
matriz_resources/fonts.googleapis.com/css2.css
matriz_resources/fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2
matriz_resources/matriz.cocos.xoms.com.ar/dashboards.html
matriz_resources/matriz.cocos.xoms.com.ar/api/v2/accounts/17825/positions-08a60ed6e54808.html
matriz_resources/matriz.cocos.xoms.com.ar/api/v2/accounts/17825/positions.html
matriz_resources/matriz.cocos.xoms.com.ar/api/v2/accounts/17825/report-a30a56f45eb4f8.html
matriz_resources/matriz.cocos.xoms.com.ar/api/v2/accounts/17825/report.html
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Chart/DailyChartLight.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Chart/IntradayChartLight.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Dashboard/CustomDashboard.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Dashboard/Dashboard.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Dashboard/DashboardTabsPanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Dashboard/SimpleDashboard.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Dashboard/WidgetsComponentsPopover.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/NewOrder/WidgetOrderForm.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/PricePanelOptionsWidgetHeader.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/PricePanelRowEmpty.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/PricePanelRowWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/WidgetCardContentDMA.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/MutualFund/ButtonsCotainerRow.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/MutualFund/ManagementSocietyGroup.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/MutualFund/MutualFundChart.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/MutualFund/MutualFundDrawer.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/MutualFund/MutualFundFilter.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/MutualFund/MutualFundPanelHeader.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/MutualFund/MutualFundPieChart.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/MutualFund/MutualFundRightInfo.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/PricePanel/MutualFund/MutualFundRow.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Security/NewSecurityBook.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/DailyChartWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/IntradayChartWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/MiniCardContent.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/MiniCardWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/MultiOrderWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/NewWidgetHeader.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/OrderManagementWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/OrderManagementWidgetHeader.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/OrderManagementWidgetTable.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/SecurityCardPriceRow.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/SecurityCardWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/SecurityCardWidgetMini.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/SecurityTradeWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/SimpleSecuritySelector.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/WidgetCardDMA.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/BondPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/BVPASABondPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/BymaOptionPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/CaucionesPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/CedearPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/FavoritePricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/GeneralPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/LiderPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/MepCableWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/MiniPlanePricePanelWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/MutualFundPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/NewPanelWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/NotePricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/ONPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/OptionPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/OptionSelector.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/PanelColumnWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/PlanePriceOptionPanelWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/PlanePricePanelWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/PositionWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/PricePanelWidgetHeader.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/VariationsPanelWidget.less
matriz_resources/matriz.cocos.xoms.com.ar/opt/app-root/src/src/components/Widgets/PricePanels/WidgetsPricePanel.less
matriz_resources/matriz.cocos.xoms.com.ar/public/web/manifest.dma_night.json
matriz_resources/matriz.cocos.xoms.com.ar/public/web/fonts/fonts.css
matriz_resources/matriz.cocos.xoms.com.ar/public/web/fonts/apex/css/font-apex.css
matriz_resources/matriz.cocos.xoms.com.ar/public/web/img/login_images/left-logo-image-cocos-dark.png
matriz_resources/matriz.cocos.xoms.com.ar/public/web/static/css/main.dma_night.css
matriz_resources/matriz.cocos.xoms.com.ar/public/web/static/js/0.8b596432.chunk.js
matriz_resources/matriz.cocos.xoms.com.ar/public/web/static/js/1.9a19adad.chunk.js
matriz_resources/matriz.cocos.xoms.com.ar/public/web/static/js/main.js
