#root-chuchotriz {
  margin: 0 0 0 0;
}

#MiniOrderForm {
  flex-wrap: nowrap !important;
}

#root-chuchotriz .DefaultSizeShowButtons {
  margin: 0 0 0 8px;
  position: inherit;
  display: flex;
  flex-wrap: nowrap;
}